@inherits LayoutComponentBase
<div class="bg-info text-white p-2">
    <span class="navbar-brand ml-2">CSInventory Administration</span>
</div>

    <div class="row m-1 p-1">
        <div class="col-1">
            <NavLink class="btn btn-outline-primary btn-sm"
                     href="/admin/parts"
                     ActiveClass="btn-primary text-white"
                     Match="NavLinkMatch.Prefix">
                Parts
            </NavLink>@*
            <NavLink class="btn btn-outline-primary btn-sm"
                     href="/admin/orders"
                     ActiveClass="btn-primary text-white"
                     Match="NavLinkMatch.Prefix">
                Orders
            </NavLink>*@
        </div>
        <div class="col">
            @Body
        </div>
    </div>
