@section NavItems{
    <li class="nav-item">
        <a class="nav-link" href="/Dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>

    <!-- Divider -->
    <li class="sidebar-divider">

        <!-- Nav Item - Branches -->
    <li class="nav-item  active">
        <a class="nav-link" href="/Branches">
            <i class="fas fa-fw fa-store-alt"></i>
            <span>Branches</span>
        </a>
    </li>

    <!-- Divider -->
    <li class="sidebar-divider">

        <!-- Nav Item - Parts -->
    <li class="nav-item">
        <a class="nav-link" href="/Parts">
            <i class="fas fa-fw fa-boxes"></i>
            <span>Parts</span>
        </a>
    </li>

}

<partial name="BranchSummary" />

<partial name="Components/Modals/CreateBranchModal" />