<!-- Modal -->
<div class="modal fade" id="CreateBranchModal" tabindex="-1" role="dialog" aria-labelledby="CreateBranchModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CreateBranchModalLabel">Add Branch</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputBranchName">Branch Name</label>
                        <input type="text" class="form-control" id="inputBranchName" placeholder="Enter Branch Name">
                    </div>
                    <div class="form-group">
                        <label for="inputBranchAddress">Branch Address</label>
                        <input type="text" class="form-control" id="inputBranchAddress" placeholder="Enter Branch Address">
                    </div>
                    <div class="form-group">
                        <label for="inputBranchManager">Branch Manager</label>
                        <input type="text" class="form-control" id="inputBranchManager" placeholder="Enter Branch Manager">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>