<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CS Inventory</title>
    <link rel="stylesheet" href="~/lib/bootstrap-4.6.0/dist/css/bootstrap.min.css" />   
</head>
<body>
    <div class="container-fluid bg-dark text-white">
        <div class="row">
            <div class="col">
                <span class="navbar-brand ml-2">CS INVENTORY</span>
            </div>
            <div class="col-2 text-right">
                <a class="btn btn-sm btn-info" href="/Admin">Admin</a>
            </div>
        </div>
    </div>
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            <vc:navigation-menu />
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
</body>
</html>